* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #f8f8f8;
  background-color: pink;
  padding: 2em 0;
}

h1 {
  color: #143774;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.subtitle {
  font-weight: bold;
  color: #1792d2;
  font-size: 0.75rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 1em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25em 0;
}

nav a:hover {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}
.current-page:hover {
  color: #707070;
}
